@import 'settings.scss';

.component {
	font-family: $font-text;
	background-color: $color-one;
	margin:24px auto;
	width: 70vw;
	padding: 36px 24px;

	h3 {
		font-size: 36px;
		margin: 24px;
	}

	.env {
		font-size: 48px;
		color: $color-four;
	}

		span, a {
			color: $color-five;
			font-size: 18px;
		}
	}



