@import 'settings.scss';



.nav {
	margin: auto;
	background-color: $color-one;
	position: fixed;
	width: 100%;
    z-index: 9999;
    -webkit-box-shadow: inset 0px -66px 42px -15px rgba(105,105,105,0.63);
	-moz-box-shadow: inset 0px -66px 42px -15px rgba(105,105,105,0.63);
	box-shadow: inset 0px -66px 42px -15px rgba(105,105,105,0.63);


}



.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 8px;

	li {
		display: inline;
		padding: 12px;


		a {
			font-size: 18px;
			transition: $transition;
			cursor: pointer;
			color: black;
			
		}

		a:hover {

			color: $color-four;
		}

	}



}

