@import 'settings.scss';



.nav {
	padding: 12px 24px;
	justify-content: flex-end;
	background-color: $color-one;
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 100%;

}

.logo {
	margin-right: auto;
}



.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline;
		padding: 0 8px;
		border-right: 2px solid black;


		a {
			transition: $transition;
			cursor: pointer;
			color: black;
			
		}

		a:hover {

			color: grey;
		}

	}


	li:last-child {
		border: none;
		margin-right: 24px;
	}

}

