@import 'settings.scss';


.component {
	background-color: $color-one;
	margin:24px auto;
	width: 80vw;
	padding: 36px 24px;
}

.title {
	font-family: $font-text;
	font-size: 36px;
	letter-spacing: 1px;
	margin: 48px;
}


.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.box {
	margin: 24px;
	box-shadow: 12px 12px 44px black;
	width: auto;
}

@media (max-width: 900px) {

	iframe {
		width: 260px;
		height: 180px;
	}


}
