$color-one: #F08080;
$color-two: #fff;
$color-three: #1D2121;
$color-four: #F9F9F9;
$color-text: #040112;
$color-header: black;
$transition: all 0.3s;
$font-text: 'Roboto', sans-serif;
$font-title: 'Oxygen';
$base-size: 12px;
$margin-section: 182px;