$color-one: #ededed;
$color-two: #717171;
$color-three: #023359;
$color-four: #CCD6DD;
$color-five: #800000;
$color-header: black;
$transition: all 0.4s;
$font-text: 'Roboto', sans-serif;
$font-title: 'Oxygen';
$base-size: 12px;
$margin-section: 182px;