@import 'settings.scss';



.list {
	display: inline-block;
	flex-wrap: wrap;
	margin: 48px 12px;
	padding: 36px 24px;
	justify-content: space-between;

	h3 {
		color: $color-one;
	}
}

.component {
	font-family: $font-text;
	min-width: 25vw;
	margin: 24px auto;
	padding: 12px;
	background-color: $color-one;
	border-radius: 16px;
	opacity: 0.8;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.img {
	max-height: 100%;
	max-width: 33%;
}

.player {
	position: relative;
	width: 33%;
}

.info {
	width: 33%;
	position: relative;

	span {
	top: 50%;
	left: 25%;
	transform: translate(-50%,-50%);
	position: absolute;
	}
}

.info h4 {
	text-align: left;
	padding: 0 8px;
	display: block;

}

	h4:nth-child(6) {
		color: green;
	}	
	h4:nth-child(4) {
		color: $color-three;
	}
	h4:nth-child(5) {
		color: $color-five;
	}


.name {
	font-size: 30px;
	color: $color-three;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	letter-spacing: 4px;
	transition: opacity 0.2s, top 0.7s;
	z-index: 999;

}

.button {
	top: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	background-color: $color-one;
	cursor: pointer;
	border: none;

}

.button:focus {
	outline: none;
	}


.play {
	font-size: 30px;
	transition: $transition;
	opacity: 0;
}

.component:hover {
	opacity: 1;
	box-shadow: 2px 4px 16px $color-four; 
}

.component:hover .name {
	opacity: 0;
	top: 100%;
}

.component:hover .play {
	opacity: 1;
}

@media (max-width: 900px) {



	.list {
		margin: 0;
		width: 90%;
		padding: 18px 12px;
	}

	.info {
		font-size: 12px;
	}

	.img {
		max-width: 30%;
	}


}

@media (max-width: 700px) {



	.list {
		padding: 18px 12px;
	}

	.name {
		font-size: 18px;
	}

	.play {
		font-size: 18px;
	}

	.info {
		font-size: 12px;
	}

	.img {
		max-width: 30%;
	}


}


@media (max-width: 550px) {



	.list {
		padding: 18px 12px;
	}

	.name {
		font-size: 12px;
	}

	.play {
		font-size: 12px;
	}

	.info {
		font-size: 8px;
	}

	.img {
		width: 33%;
	}


}

