

.App {
  text-align: center;
  background-color: #F9F9F9;

}

.beats {
  background-image: url(./images/background.jpg);
  background-size: cover;
}

.beats h2 {
  padding-top: 36px;
  color: #ededed;
  letter-spacing: 4px;
  font-size: 36px;
}



.container {
  margin-top: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.active {
    border-bottom: 1px solid #333;
}

h4,h3,h2{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  }

.display-enter {
  opacity: 0;
}
.display-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.display-exit {
  opacity: 1;
}
.display-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
