

.App {
  text-align: center;
  background-color: #F9F9F9;

}

.beats {
  background-image: url(./images/background.jpg);
  background-size: cover;
}

.beats h2 {
  font-family: 'Nunito', sans-serif;
  padding-top: 36px;
  color: #ededed;
  letter-spacing: 1px;
  font-size: 36px;
}

.beat-img {
  object-position: center;
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.active {
    border-bottom: 1px solid #333;
}

h5,h4,h3,h2{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  }






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
